.input-login{ /*email, password*/
width: 280px;
outline:none; /*quitar borde azul*/
height: 30px;
border-radius: 25px;
border-color: aqua;
}
.submit{
background-color: black;
height: 30px;
width: 150;
border: none;
color: white;
border-radius: 25px;
cursor: pointer;
}